.header .t {
  height: 90px; }

.header .logo {
  float: left;
  width: 216px;
  margin-top: 24px; }

.header .h-tel {
  float: right;
  margin-top: 29px; }

.header .b {
  background: #666;
  height: 50px; }
  .header .b a {
    color: #fff; }

.header .nav li {
  width: 11.11%;
  float: left;
  position: relative; }
  .header .nav li:hover .seco-nav {
    transform: none;
    opacity: 1;
    visibility: visible; }
  .header .nav li + li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #747474; }
  .header .nav li > a {
    display: block;
    font-size: 16px;
    line-height: 50px;
    text-align: center; }
    .header .nav li > a:hover, .header .nav li > a.act {
      background: #009f90; }

.header .seco-nav a {
  color: #666; }

.seco-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 300ms; }
  .seco-nav a {
    display: block;
    padding: 10px 5px;
    text-align: center;
    line-height: 1.4; }
    .seco-nav a:hover {
      color: #009f90; }

.h-tel {
  line-height: 32px;
  white-space: nowrap;
  color: #009f90; }
  .h-tel i {
    display: inline-block;
    vertical-align: bottom; }
  .h-tel .icon {
    margin: 0 10px;
    width: 28px;
    border: 2px solid #009f90;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 28px; }
  .h-tel .telNum {
    font-size: 22px; }

.banner .pic2 {
  position: absolute;
  top: 0;
  left: 0; }

.banner .txts {
  position: absolute;
  left: 0;
  right: 0;
  top: 32%;
  color: #fff; }
  .banner .txts .ti {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.3; }

.banner .slick-dots {
  display: none !important; }

.mtop {
  height: 140px; }

.ix1 {
  background: #f2f2f2;
  padding: 100px 0; }

.ix-ab {
  background: #fff; }
  .ix-ab .txts {
    float: left;
    padding: 50px 60px 0 45px;
    width: 50%;
    box-sizing: border-box; }
    .ix-ab .txts .tx {
      height: 72px;
      margin-bottom: 80px; }
    .ix-ab .txts .ia-ti {
      margin-bottom: 25px; }
  .ix-ab .ia-video {
    width: 50%;
    float: right; }

.ia-ti {
  font-size: 26px;
  color: #333; }

.ia-more {
  display: inline-block;
  vertical-align: bottom;
  width: 136px;
  height: 36px;
  border: 1px solid #666;
  line-height: 36px;
  text-align: center;
  transition: 300ms; }
  .ia-more .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    font-size: 24px; }

@media screen and (min-width: 1025px) {
  .ia-more:hover {
    background-color: #009f90;
    border-color: #009f90 !important;
    color: #fff; } }

.ia-video {
  position: relative;
  background: #009f90;
  padding: 0 15px 15px 0;
  box-sizing: border-box; }
  .ia-video .pai {
    margin: -15px 0 0 -15px;
    padding-bottom: 63.33%; }

.video-btn {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  border: 2px solid #fff;
  color: #fff; }
  .video-btn .sj {
    margin: 13px 0 0 15px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 16px; }

.ix-pro li {
  width: 25%;
  float: left; }
  .ix-pro li > a {
    display: block;
    position: relative;
    color: #fff; }
  .ix-pro li.act .cover {
    background: rgba(0, 159, 144, 0.8); }
  .ix-pro li.act .txts {
    padding-top: 90px;
    transition-delay: 400ms; }
    .ix-pro li.act .txts .tx,
    .ix-pro li.act .txts .more {
      opacity: 1;
      visibility: visible;
      transition-delay: 400ms; }

.ix-pro .cover {
  background: rgba(0, 0, 0, 0.5);
  transition: 400ms; }

.ix-pro .pic2 {
  height: 370px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.ix-pro .txts {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 158px 35px 0 35px;
  transition: 400ms; }
  .ix-pro .txts .tx {
    margin-top: 25px;
    height: 48px; }
  .ix-pro .txts .ia-more {
    border-color: #fff; }
  .ix-pro .txts .more {
    margin-top: 45px; }
  .ix-pro .txts .tx,
  .ix-pro .txts .more {
    opacity: 0;
    visibility: hidden;
    transition: 400ms; }

.ip-ti .ch {
  font-size: 24px; }

.ip-ti .en {
  margin-top: 3px;
  font-size: 18px; }

.ix3 {
  padding: 85px 0 75px 0; }
  .ix3 .in-ti {
    float: right;
    text-align: right;
    width: 200px; }

.in-ti .ch {
  font-size: 18px;
  color: #333; }

.in-ti .en {
  margin-top: 5px; }

.in-a {
  display: block;
  width: 780px;
  max-width: 100%;
  overflow: hidden; }
  .in-a .txts {
    overflow: hidden; }
  .in-a .in-date {
    float: left;
    margin-right: 60px; }
  .in-a .nowti {
    font-size: 18px;
    font-weight: bold;
    color: #333; }
  .in-a .tx {
    margin-top: 20px;
    height: 48px; }
  .in-a .more {
    margin-top: 20px; }

.in-date {
  position: relative;
  width: 90px;
  height: 110px;
  padding: 15px 0 0 10px;
  background: #009f90;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  box-sizing: border-box; }
  .in-date .m {
    margin-top: 20px;
    font-size: 26px; }
  .in-date .y {
    position: absolute;
    left: 10px;
    bottom: 15px;
    font-size: 14px; }

.ix-news {
  margin-right: 200px;
  overflow: visible; }
  .ix-news .slick-dots {
    left: 100%;
    right: auto;
    bottom: 0;
    width: 200px;
    text-align: right; }
    .ix-news .slick-dots li {
      margin: 0 0 0 12px;
      border-radius: 0;
      width: 6px;
      height: 6px;
      background: #666; }
    .ix-news .slick-dots .slick-active {
      width: 54px; }

.footer {
  background: #333;
  padding: 25px 0;
  color: #999;
  font-size: 12px;
  line-height: 24px; }
  .footer a {
    color: #999; }
  .footer .f-ma {
    float: right; }
  .footer .logo {
    float: left;
    width: 170px;
    margin: 22px 25px 0 0; }
  .footer .l {
    border-left: 1px solid #999;
    padding-left: 25px;
    margin-top: 15px; }

.f-ma > img {
  float: left;
  width: 77px; }

.f-ma p {
  overflow: hidden;
  padding-top: 27px;
  margin-left: 10px; }

.f-cont {
  overflow: hidden; }
  .f-cont p {
    float: left; }
    .f-cont p + p {
      margin-left: 40px; }
  .f-cont .icon {
    display: inline-block;
    vertical-align: bottom;
    width: 25px;
    font-size: 18px; }

@media screen and (min-width: 1025px) {
  .footer a:hover {
    color: #009f90; } }

.navMobile {
  padding-top: 60px; }
  .navMobile a {
    display: block;
    padding-left: 60px;
    padding-right: 15px;
    line-height: 1.4; }
  .navMobile dd > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    color: #333; }
    .navMobile dd > a.act {
      background: #044f9f;
      color: #fff; }
  .navMobile .mtv {
    background: #009f90;
    padding: 10px 0;
    display: none; }
    .navMobile .mtv a {
      color: #fff; }
    .navMobile .mtv > a {
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 16px; }
    .navMobile .mtv .one {
      padding-left: 20px; }
      .navMobile .mtv .one > a {
        padding-top: 4px;
        padding-bottom: 4px;
        opacity: .9; }
    .navMobile .mtv .two {
      padding-left: 20px; }
      .navMobile .mtv .two > a {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 12px;
        opacity: .6; }

.sos-box {
  text-align: center;
  padding: 110px 0 180px 0; }
  .sos-box .tx1 {
    font-size: 16px;
    margin-top: 15px; }
  .sos-box img {
    vertical-align: bottom;
    max-width: 100%; }
  .sos-box .ib {
    width: 170px;
    height: 38px;
    background: #009f90;
    color: #fff;
    white-space: nowrap;
    line-height: 38px; }
  .sos-box .fib {
    margin-top: 45px; }

@media screen and (min-width: 1025px) {
  .sos-box .ib:hover {
    background-color: #044f9f; } }

.pbanner {
  color: #fff; }
  .pbanner .txts {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5%;
    right: 5%; }
  .pbanner .ch {
    font-size: 26px;
    font-weight: bold; }
  .pbanner .en {
    margin-top: 2px;
    font-size: 12px; }
  .pbanner .tac .pba-arrow {
    margin: 50px auto 0 auto; }

.pba-arrow {
  border: 2px solid #fff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 14px; }

.pnav {
  border-bottom: 1px solid #ccc;
  line-height: 24px; }
  .pnav li {
    padding: 0 16px; }
    .pnav li > a {
      display: block;
      position: relative;
      padding: 15px 8px; }
      .pnav li > a:before {
        content: "";
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0;
        width: 0;
        height: 4px;
        background: #009f90;
        transition: 600ms; }
      .pnav li > a.act {
        color: #009f90; }
        .pnav li > a.act:before {
          left: 0;
          right: auto;
          width: 100%; }

@media screen and (min-width: 1025px) {
  .pnav li > a:hover:before {
    left: 0;
    right: auto;
    width: 100%; } }

.spec-news {
  display: block;
  position: relative;
  background: #009f90;
  color: #fff; }
  .spec-news .pic {
    width: 50%;
    float: left; }
  .spec-news .txts {
    width: 50%;
    float: right;
    padding: 70px 50px 0 50px;
    box-sizing: border-box; }
  .spec-news .nowti {
    font-size: 18px;
    font-weight: bold; }
  .spec-news .tx {
    margin-top: 20px;
    line-height: 20px !important;
    height: 60px; }
  .spec-news .more {
    position: absolute;
    right: 0;
    bottom: 70px;
    padding: 0 50px;
    width: 50%;
    box-sizing: border-box; }

.nw-more {
  display: inline-block;
  vertical-align: bottom;
  line-height: 18px;
  transition: 300ms; }
  .nw-more .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #fff;
    font-size: 8px;
    color: #009f90;
    text-align: center;
    transition: 300ms; }

@media screen and (min-width: 1025px) {
  .nwm-h:hover .nw-more .icon {
    transform: rotate(90deg); } }

.news-list a {
  display: block;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: hidden; }
  .news-list a + a {
    margin-top: 35px; }

.news-list .pic {
  float: left;
  width: 220px;
  margin-right: 30px; }

.news-list .txts {
  overflow: hidden; }
  .news-list .txts .w {
    width: 610px;
    max-width: 100%; }

.news-list .nw-date {
  float: right;
  margin-left: 30px; }

.news-list .nowti {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333; }

.news-list .tx {
  margin-bottom: 45px;
  line-height: 20px !important;
  height: 40px; }

.news-list .nw-more .icon {
  background: #999;
  color: #fff; }

.nw-date {
  position: relative;
  background: #999;
  padding-top: 5px;
  width: 70px;
  height: 70px;
  line-height: 1;
  text-align: center;
  color: #fff;
  transition: 300ms; }
  .nw-date .d {
    font-size: 30px; }
    .nw-date .d i {
      display: none; }
  .nw-date .y {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 17px; }

@media screen and (min-width: 1025px) {
  .news-list a:hover {
    border-color: #009f90; }
  .news-list a:hover .nw-date {
    background-color: #009f90; }
  .news-list a:hover .nw-more {
    color: #009f90; }
  .news-list a:hover .nw-more .icon {
    background: #009f90; } }

.nw1 .news-list {
  margin-top: 80px; }

.nw1 .pager {
  margin-top: 80px; }

.pager a {
  vertical-align: top;
  margin: 0 5px;
  width: 42px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 40px; }
  .pager a.act {
    background: #009f90;
    border-color: #009f90;
    color: #fff; }

.pager .arrow {
  width: 70px;
  font-size: 14px; }

.pager .prev {
  margin-right: 10px; }

.pager .next {
  margin-left: 10px; }

@media screen and (min-width: 1025px) {
  .pager a:hover {
    background: #009f90;
    border-color: #009f90;
    color: #fff; } }

.page-pa {
  padding: 90px 0 100px 0; }

.pw2 {
  width: 960px;
  margin: 0 auto; }

.nd-pa {
  padding-left: 35px;
  padding-right: 35px; }

.nd-tx .ti {
  color: #333;
  font-size: 20px; }

.nd-tx .mes {
  margin-top: 5px; }

.nd-tx .freeTx {
  margin-top: 80px; }

.nd-tx .nd-back {
  margin-top: 140px; }

.backList {
  display: block;
  width: 110px;
  height: 36px;
  background: #009f90;
  color: #fff;
  white-space: nowrap;
  line-height: 36px;
  text-align: center; }

.nd-back {
  border-top: 1px solid #ccc;
  padding-top: 25px; }
  .nd-back .backList {
    float: right;
    margin-left: 40px; }
  .nd-back .b {
    overflow: hidden; }
    .nd-back .b > a {
      display: block; }
      .nd-back .b > a + a {
        margin-top: 10px; }

@media screen and (min-width: 1025px) {
  .nd-back .b > a:hover {
    color: #009f90; }
  .backList:hover {
    background: #044f9f; } }

.nw3 > div {
  box-sizing: border-box; }

.nwR {
  float: right;
  width: 35.8%; }

.nwL {
  float: left;
  width: 64.2%;
  box-sizing: border-box;
  padding-right: 40px; }

.tec-infor {
  border: 1px solid #ccc;
  padding: 25px 0 35px 0; }
  .tec-infor .tec-ti {
    margin: 0 25px 25px 25px; }
  .tec-infor .item {
    padding: 0 25px; }
    .tec-infor .item + .item {
      border-top: 1px dashed #ccc;
      padding-top: 35px;
      margin-top: 35px; }
    .tec-infor .item > a {
      display: block;
      line-height: 30px;
      overflow: hidden; }
    .tec-infor .item .more {
      float: right;
      width: 80px;
      text-align: right; }
    .tec-infor .item .nowti {
      line-height: 30px; }

@media screen and (min-width: 1025px) {
  .tec-infor .item > a:hover {
    color: #009f90; } }

.tec-ti {
  position: relative;
  font-size: 18px;
  color: #333; }
  .tec-ti:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px dashed #ccc; }
  .tec-ti span {
    position: relative;
    background: #fff;
    padding-right: 15px; }

.spec-indu {
  display: block;
  background: #009f90;
  color: #fff; }
  .spec-indu .pai {
    padding-bottom: 58.9%; }
  .spec-indu .txts {
    width: 560px;
    padding: 25px 30px 20px 30px;
    max-width: 100%;
    box-sizing: border-box; }
  .spec-indu .nowti {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
  .spec-indu .tx {
    margin-bottom: 20px;
    line-height: 20px !important;
    height: 60px; }

.indu-list a {
  display: block;
  overflow: hidden;
  line-height: 40px; }

.indu-list .nowti {
  position: relative;
  line-height: 40px;
  padding-left: 30px; }

.indu-list .date {
  float: right;
  width: 90px;
  text-align: right; }

.indu-list .sj {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -4px; }

@media screen and (min-width: 1025px) {
  .indu-list a:hover {
    color: #009f90; } }

.nw3 .indu-list {
  margin-top: 40px; }

.nw3 .pager {
  margin-top: 80px; }

.case-nav a {
  position: relative;
  margin: 0 6px;
  width: 140px;
  height: 48px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 48px;
  white-space: nowrap; }
  .case-nav a.act {
    background: #009f90;
    border-color: #009f90;
    color: #fff; }
    .case-nav a.act .sj {
      display: block; }

.case-nav .sj {
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -4px;
  border-top-width: 6px;
  color: #009f90;
  display: none; }

@media screen and (min-width: 1025px) {
  .case-nav a:hover {
    background: #009f90;
    border-color: #009f90;
    color: #fff; } }

.case-list {
  margin-left: -50px; }
  .case-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 55px; }
  .case-list a {
    display: block;
    position: relative;
    margin-left: 50px;
    background: #f2f2f2;
    overflow: hidden; }
    .case-list a:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 3px solid #009f90;
      opacity: 0;
      visibility: hidden;
      transition: 400ms; }
  .case-list .pai {
    padding-bottom: 64.86%; }
  .case-list .nowti {
    height: 66px;
    padding: 0 5%;
    border-bottom: 2px solid #999;
    line-height: 66px;
    text-align: center; }
  .case-list .cover {
    background: rgba(0, 159, 144, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: 400ms; }

.case-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -15px;
  width: 30px;
  height: 2px;
  background: #fff;
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  transition: 400ms; }
  .case-plus:before {
    content: "";
    position: absolute;
    left: 14px;
    top: -14px;
    width: 2px;
    height: 30px;
    background: #fff; }

@media screen and (min-width: 1025px) {
  .case-list a:hover .cover,
  .case-list a:hover:after {
    opacity: 1;
    visibility: visible; }
  .case-list a:hover {
    background: #009f90;
    color: #fff; }
  .case-list a:hover .case-plus {
    transform: none;
    opacity: 1;
    visibility: visible; } }

.case1 .case-nav {
  margin-bottom: 80px; }

.case1 .case-list {
  margin-bottom: 25px; }

.case-big-imgs .slick-dots {
  display: none !important; }

.case-small-imgs {
  padding: 25px 200px;
  background: #f2f2f2; }
  .case-small-imgs .pic {
    margin: 0 4px;
    cursor: pointer; }
    .case-small-imgs .pic:after, .case-small-imgs .pic:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: 400ms; }
    .case-small-imgs .pic:before {
      background: rgba(0, 159, 144, 0.8); }
    .case-small-imgs .pic:after {
      border: 2px solid #009f90; }
    .case-small-imgs .pic.act:after, .case-small-imgs .pic.act:before {
      opacity: 1;
      visibility: visible; }
  .case-small-imgs .slick-arrow {
    width: auto;
    background: none;
    font-weight: bold;
    font-size: 20px;
    color: #666; }
  .case-small-imgs .slick-prev {
    left: 170px; }
  .case-small-imgs .slick-next {
    right: 170px; }
  .case-small-imgs .slick-disabled {
    color: #999 !important;
    cursor: default; }

@media screen and (min-width: 1025px) {
  .case-small-imgs .slick-arrow:hover {
    color: #009f90; } }

.nw2 .case-big-imgs {
  margin-top: 40px; }

.case-table table {
  width: 100%;
  text-align: center; }
  .case-table table th,
  .case-table table td {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #ccc; }
  .case-table table td {
    padding-top: 28px;
    padding-bottom: 28px; }
  .case-table table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #dbf2f0;
    font-weight: normal;
    color: #333; }

.case-table a {
  color: #009f90; }

.jb1 .freeTx {
  width: 1000px;
  max-width: 100%; }
  .jb1 .freeTx a {
    color: #ef0000;
    text-decoration: underline; }

.jb1 .job-list {
  margin-top: 80px; }

@media screen and (min-width: 1025px) {
  .jb1 .freeTx a:hover {
    color: #009f90; } }

.job-list {
  border-top: 3px solid #ccc; }
  .job-list li {
    border-bottom: 3px solid #ccc; }
    .job-list li.act .t {
      background: #009f90;
      color: #fff; }
      .job-list li.act .t:before, .job-list li.act .t:after {
        background: #fff; }
      .job-list li.act .t:after {
        transform: rotate(90deg); }
  .job-list .b {
    padding: 30px 20px 60px 20px;
    background: #f2f2f2;
    display: none; }
  .job-list .t {
    position: relative;
    padding: 0 20px;
    cursor: pointer;
    color: #333;
    transition: 300ms; }
    .job-list .t:before, .job-list .t:after {
      content: "";
      position: absolute;
      background: #666;
      transition: 300ms; }
    .job-list .t:before {
      top: 50%;
      right: 50px;
      margin-top: -2px;
      width: 16px;
      height: 4px; }
    .job-list .t:after {
      top: 50%;
      right: 56px;
      margin-top: -8px;
      width: 4px;
      height: 16px; }
  .job-list .nowti {
    margin-right: 100px;
    font-size: 16px;
    line-height: 72px; }

@media screen and (min-width: 1025px) {
  .job-list li:hover .t {
    background: #009f90;
    color: #fff; }
  .job-list li:hover .t:before,
  .job-list li:hover .t:after {
    background: #fff; } }

#map {
  height: 550px;
  background: #009f90; }

.map-nav {
  background: #f2f2f2;
  line-height: 74px;
  font-size: 16px;
  color: #333; }
  .map-nav li {
    width: 50%;
    float: left;
    white-space: nowrap;
    text-align: center;
    cursor: pointer; }
    .map-nav li > p {
      display: inline-block;
      vertical-align: middle;
      line-height: 34px;
      transition: 300ms; }
    .map-nav li.act {
      background: #009f90;
      color: #fff; }
      .map-nav li.act .icon {
        background: #fff;
        color: #009f90; }
  .map-nav .icon {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    margin-left: 20px;
    background: #333;
    font-size: 12px;
    color: #fff; }

@media screen and (min-width: 1025px) {
  .map-nav li:not(.act):hover p {
    color: #009f90; }
  .map-nav li:not(.act):hover .icon {
    background: #009f90;
    color: #fff; } }

.pbg {
  background: #f2f2f2; }

.cta1 {
  background: #fff;
  padding: 10px 0 40px 0; }

.cta-list {
  overflow: hidden;
  position: relative; }
  .cta-list:after, .cta-list:before {
    content: "";
    position: absolute; }
  .cta-list:before {
    top: 65px;
    bottom: 65px;
    left: 50%;
    border-left: 1px solid #ccc; }
  .cta-list:after {
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid #ccc; }
  .cta-list li {
    width: 50%;
    float: left;
    line-height: 30px; }
  .cta-list .ti {
    margin-bottom: 15px;
    font-size: 18px;
    color: #333; }
  .cta-list .icon {
    display: inline-block;
    vertical-align: bottom;
    width: 30px;
    font-size: 18px; }
  .cta-list .ma {
    height: 195px;
    padding: 65px 60px 0;
    overflow: hidden; }

@media screen and (min-width: 1025px) {
  .cta-list a:not(.na):hover {
    color: #009f90; } }

.cta-ti {
  text-transform: uppercase;
  font-size: 38px;
  color: #009f90; }

.fill-in-mess {
  padding: 0 90px; }
  .fill-in-mess li + li {
    margin-top: 2%; }
  .fill-in-mess .clearfix .s-input {
    float: left;
    width: 32%; }
    .fill-in-mess .clearfix .s-input + .s-input {
      margin-left: 2%; }
  .fill-in-mess .subBtn,
  .fill-in-mess .s-input {
    height: 40px;
    transition: 300ms; }
  .fill-in-mess .s-input {
    padding-left: 20px;
    background: #fff;
    box-sizing: border-box; }
    .fill-in-mess .s-input:focus {
      background: #009f90;
      color: #fff; }
  .fill-in-mess .s-textarea,
  .fill-in-mess .subBtn {
    width: 100%; }
  .fill-in-mess .s-textarea {
    padding-top: 10px;
    height: 150px; }
  .fill-in-mess .subBtn {
    background: #009f90;
    color: #fff; }

@media screen and (min-width: 1025px) {
  .fill-in-mess .subBtn:hover {
    background: #666; } }

.cta2 {
  padding: 75px 0 95px 0; }
  .cta2 .freeTx {
    width: 780px;
    max-width: 100%;
    margin: 75px auto 0 auto; }
  .cta2 .cta-ti {
    margin-bottom: 40px; }

.ser-ti {
  position: relative; }
  .ser-ti.white {
    color: #fff; }
    .ser-ti.white .ch {
      color: #fff; }
  .ser-ti .pai {
    padding-bottom: 55%; }
  .ser-ti .txts {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 5%;
    background: url(../images/black5.png); }
  .ser-ti .ch {
    font-size: 30px;
    color: #009f90; }
  .ser-ti .en {
    margin-top: 2px;
    font-size: 18px; }
  .ser-ti .en-l {
    line-height: 1.4;
    position: relative;
    margin-top: 5px; }
    .ser-ti .en-l:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      border-top: 1px solid #ccc; }
    .ser-ti .en-l span {
      display: inline-block;
      vertical-align: bottom;
      position: relative;
      background: #fff;
      padding: 0 15px; }
  .ser-ti.black .ch {
    color: #666; }

.ser-tx {
  padding: 65px 50px 70px 50px; }
  .ser-tx .ser-ti {
    margin-bottom: 50px; }
    .ser-tx .ser-ti .en {
      margin-top: 10px;
      line-height: 1.6; }

.prom-list {
  margin-left: -15px; }
  .prom-list li {
    float: left;
    width: 25%;
    margin-bottom: 15px; }
    .prom-list li:nth-child(4) .ma {
      background: #8cc856; }
    .prom-list li:nth-child(5) .ma {
      background: #00479d; }
    .prom-list li:nth-child(7) .ma {
      background: #1ca3d3; }
  .prom-list .ma {
    margin-left: 15px;
    height: 219px;
    background: #009f90;
    color: #fff;
    overflow: hidden; }
  .prom-list .nowti,
  .prom-list .tx {
    text-align: center; }
  .prom-list .nowti {
    height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    font-size: 18px;
    line-height: 50px; }
  .prom-list .tx {
    line-height: 20px !important; }
  .prom-list .tx1 {
    max-height: 80px; }

.prom-tx {
  padding-top: 90px; }
  .prom-tx .prom-list {
    margin-top: 60px; }

.tech-list li {
  overflow: hidden;
  background: #f2f2f2;
  padding: 25px 35px 25px 25px; }
  .tech-list li + li {
    margin-top: 20px; }

.tech-list .pic {
  float: left;
  width: 215px;
  margin-right: 35px; }

.tech-list .txts {
  overflow: hidden;
  padding: 20px 0; }

.tech-list .ti {
  margin-bottom: 15px;
  font-size: 24px; }

.wall-list li {
  overflow: hidden;
  height: 209px; }
  .wall-list li + li {
    margin-top: 10px; }
  .wall-list li:nth-child(2n) .ma {
    background: #8cc856; }
  .wall-list li:nth-child(3n) .ma {
    background: #044f9f; }
  .wall-list li:nth-child(4n) .ma {
    background: #1ca3d3; }
  .wall-list li:nth-child(5n) .ma {
    background: #666; }

.wall-list .pic {
  float: left;
  width: 64.1%; }

.wall-list .txts {
  float: right;
  width: 35.9%;
  height: 100%; }

.wall-list .ma {
  margin-left: 10px;
  padding: 20px 30px 0 30px;
  box-sizing: border-box;
  background: #009f90;
  color: #fff;
  height: 100%; }

.wall-list .ti {
  margin-bottom: 15px;
  font-size: 20px; }

.wall-list .freeTx {
  height: 120px; }

.wa-ti {
  font-size: 24px;
  line-height: 1.4;
  color: #009f90; }

.wall-tx {
  margin-top: 25px; }
  .wall-tx .wa-ti {
    margin-bottom: 30px; }
  .wall-tx .freeTx + .freeTx {
    padding-top: 75px; }
  .wall-tx .freeTx.pbg {
    margin-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 90px; }

.chara-tx {
  padding: 35px 0 135px 0;
  background-position: center top;
  background-repeat: no-repeat; }

.chara-list li {
  position: relative;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  margin: 0 40px;
  background: #009f90;
  color: #fff; }
  .chara-list li + li:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -9px;
    width: 80px;
    height: 17px;
    background: url("../images/aw1.png") no-repeat center top; }
  .chara-list li:nth-child(2n) {
    background: #8cc856; }
  .chara-list li:nth-child(3n) {
    background: #044f9f; }
  .chara-list li:nth-child(4n) {
    background: #1ca3d3; }

.chara-list .ti {
  padding-top: 70px;
  font-size: 20px;
  line-height: 30px; }

.pro-list {
  margin-left: -10px; }
  .pro-list li {
    width: 25%;
    float: left; }
    .pro-list li:nth-child(2n) .ma {
      background: #8cc856; }
    .pro-list li:nth-child(3n) .ma {
      background: #044f9f; }
    .pro-list li:nth-child(4n) .ma {
      background: #1ca3d3; }
  .pro-list .ma {
    margin-left: 10px;
    background: #009f90;
    color: #fff; }
  .pro-list .txts {
    height: 305px;
    padding: 0 10px;
    overflow: hidden; }
  .pro-list .ti {
    margin-top: 55px;
    font-size: 18px;
    font-weight: bold; }
  .pro-list .tx {
    margin-top: 30px; }
  .pro-list .pai {
    padding-bottom: 103.39%; }

.pro-adva-box {
  padding: 65px 50px 0 50px;
  margin-top: 80px; }
  .pro-adva-box .pic2 {
    width: 245px;
    margin-right: 15px;
    float: left; }
  .pro-adva-box > .freeTx {
    margin-bottom: 75px; }
  .pro-adva-box.ser-pa {
    padding-bottom: 70px;
    margin-top: 20px; }

.pro-adva-list {
  overflow: hidden; }
  .pro-adva-list li {
    border-left: 2px solid #ccc;
    padding: 35px 0 25px 45px; }
    .pro-adva-list li:last-child {
      padding-bottom: 80px; }
  .pro-adva-list .ti {
    position: relative;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold; }
  .pro-adva-list .sj {
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    margin: -5px 36px 0 0;
    border-left-width: 9px;
    border-top-width: 5px;
    border-bottom-width: 5px; }

.afsale-list {
  margin-left: -100px;
  position: relative; }
  .afsale-list li {
    width: 50%;
    float: left; }
  .afsale-list .ma {
    margin-left: 100px; }
  .afsale-list img {
    vertical-align: bottom;
    max-width: 100%; }
  .afsale-list .tx1 {
    margin-top: 10px;
    background: #f2f2f2;
    padding: 21px 5%;
    font-size: 26px; }
  .afsale-list .tx2 {
    margin-top: 10px;
    color: #999; }
  .afsale-list .txts {
    padding-top: 30px; }
  .afsale-list .c {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -30px;
    width: 160px; }

.sale-list li {
  overflow: hidden; }
  .sale-list li + li {
    margin-top: 55px; }

.sale-list .picbox {
  float: left;
  width: 435px;
  margin-right: 40px; }

.sale-list .pai {
  padding-bottom: 56.32%; }

.sale-list .txts {
  overflow: hidden; }

.sale-list .ti {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold; }
  .sale-list .ti:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc; }
  .sale-list .ti span {
    display: inline-block;
    vertical-align: bottom;
    background: #f2f2f2;
    position: relative;
    padding-right: 15px; }

.his-tx {
  position: relative; }
  .his-tx .txts {
    position: relative;
    width: 900px;
    max-width: 100%;
    padding: 55px 60px 125px 60px;
    background: #009f90;
    box-sizing: border-box;
    color: #fff; }
  .his-tx .ser-ti {
    margin-bottom: 20px; }
  .his-tx .picbox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%; }
  .his-tx .pic2 {
    margin-left: 300px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

.his-box {
  margin-top: 70px; }
  .his-box .his-list {
    position: relative;
    margin: 0 8.33%;
    padding: 100px 0 55px 0; }
    .his-box .his-list:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      border-left: 1px solid #ccc; }
  .his-box .txts {
    width: 50%;
    position: relative; }
  .his-box .item1 .txts {
    float: right; }
  .his-box .item1 .freeTx {
    margin-left: 35px; }
  .his-box .item1 .date {
    left: 35px; }
  .his-box .item1 .dot {
    right: 100%;
    margin-right: 28px; }
    .his-box .item1 .dot:after {
      left: 100%;
      margin-left: 1px;
      width: 28px; }
  .his-box .item2 .freeTx {
    margin-right: 35px; }
  .his-box .item2 .date {
    right: 35px; }
  .his-box .item2 .dot {
    left: 100%;
    margin-left: 29px; }
    .his-box .item2 .dot:after {
      right: 100%;
      margin-right: 1px;
      width: 29px; }
  .his-box .freeTx {
    border-radius: 10px;
    padding: 25px 25px 35px 25px;
    background: #e5e5e5; }
  .his-box .date {
    position: absolute;
    bottom: 100%;
    margin-bottom: 8px;
    width: 110px;
    height: 28px;
    border-radius: 10px;
    background: #009f90;
    line-height: 28px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    color: #fff; }
  .his-box .dot {
    display: block;
    position: absolute;
    top: 7px;
    border: 1px solid #009f90;
    border-radius: 5px;
    width: 11px;
    height: 11px;
    background: #fff; }
    .his-box .dot:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 4px;
      width: 9px;
      height: 9px;
      background: #009f90; }
    .his-box .dot:after {
      content: "";
      position: absolute;
      top: 5px;
      height: 1px;
      background: #ccc; }

.his-dot {
  height: 33px;
  background: url("../images/aw2.png") no-repeat center top; }

.honorx-list {
  line-height: 24px; }
  .honorx-list a,
  .honorx-list .t {
    overflow: hidden; }
  .honorx-list a {
    display: block;
    cursor: default;
    background: #e5e5e5; }
    .honorx-list a:nth-child(2n-1) {
      background: #ccc; }
  .honorx-list .l {
    width: 77.5%; }
    .honorx-list .l p {
      padding: 23px 65px;
      border-right: 1px solid #fff; }
  .honorx-list .r {
    width: 22.5%; }
    .honorx-list .r p {
      padding: 23px 55px; }
  .honorx-list .t {
    background: #009f90;
    color: #fff;
    font-size: 18px; }

@media screen and (min-width: 1025px) {
  .honorx-list a:hover {
    background: #999; } }

.honori-list {
  margin-left: -30px; }
  .honori-list a {
    width: 33.33%;
    float: left;
    margin-bottom: 30px; }
  .honori-list .pai {
    margin-left: 30px;
    padding-bottom: 62.83%; }
    .honori-list .pai:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 4px solid #009f90;
      opacity: 0;
      visibility: hidden;
      transition: 400ms; }
  .honori-list figure {
    display: none; }

@media screen and (min-width: 1025px) {
  .honori-list a:hover .pai:after {
    opacity: 1;
    visibility: visible; } }

.ab1 .honori-list,
.ab1 .honor-tx {
  margin-top: 55px; }

.ab1 .res-list {
  margin-bottom: 70px; }

.ab1 .ab-adva-list {
  margin-top: 25px; }

.ab1 .ab-link-list {
  margin-top: 85px; }

.ab1 .indu-list {
  margin-bottom: 35px; }

.ab1 .indu-tx {
  margin-bottom: 40px; }

.res-list {
  margin-left: -30px; }
  .res-list li {
    width: 20%;
    float: left; }
    .res-list li:nth-child(2n) .ma {
      background: #8cc856; }
    .res-list li:nth-child(3n) .ma {
      background: #044f9f; }
    .res-list li:nth-child(4n) .ma {
      background: #1ca3d3; }
    .res-list li:nth-child(5n) .ma {
      background: #666; }
  .res-list .ma {
    margin-left: 30px;
    background: #009f90;
    color: #fff; }
  .res-list .txts {
    padding: 0 10px;
    height: 205px;
    overflow: hidden; }
  .res-list .ico {
    height: 74px;
    margin-top: 75px; }
  .res-list .ti {
    margin-top: 10px;
    text-align: center;
    font-size: 18px; }
  .res-list .pai {
    padding-bottom: 127.91%; }

.res-ti {
  background: #e5e5e5;
  padding: 20px 30px;
  line-height: 1.4;
  font-size: 20px;
  font-weight: bold; }
  .res-ti > p {
    display: inline-block;
    vertical-align: middle; }
  .res-ti .sj-r {
    margin-left: 20px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 12px; }

.res-tx {
  padding-bottom: 60px; }
  .res-tx .indu-ti,
  .res-tx .res-ti {
    margin-bottom: 30px; }

.ab-adva-list li {
  overflow: hidden;
  padding: 20px 35px 20px 20px;
  border: 1px solid #ccc; }
  .ab-adva-list li + li {
    margin-top: 30px; }

.ab-adva-list .pic {
  float: left;
  width: 255px;
  height: 165px;
  margin-right: 35px; }

.ab-adva-list .txts {
  overflow: hidden; }

.ab-adva-list .ti {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  color: #009f90; }

.indu-ti {
  padding: 25px 5%;
  font-size: 28px;
  background: #e5e5e5; }

.indu-list {
  margin-left: -50px; }
  .indu-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 50px; }
  .indu-list .ma {
    margin-left: 50px; }
  .indu-list .pai {
    padding-bottom: 101.35%; }
  .indu-list .txts {
    overflow: hidden;
    height: 115px;
    font-size: 16px;
    line-height: 1.6;
    text-align: center; }
  .indu-list .year {
    width: 124px;
    max-width: 100%;
    height: 30px;
    margin: 25px auto 10px auto;
    border-radius: 10px;
    background: #009f90;
    color: #fff;
    line-height: 30px;
    white-space: nowrap; }

.ab-link-box .ser-ti .en {
  font-size: 20px;
  margin: 0; }

.ab-link-list {
  margin-left: -30px; }
  .ab-link-list li {
    float: left;
    width: 20%;
    margin-bottom: 30px; }
  .ab-link-list .pai {
    margin-left: 30px;
    border: 1px solid #e5e5e5;
    padding-bottom: 45.45%;
    background: #e5e5e5; }

.ab-intro .pic2 {
  width: 374px;
  margin-right: 75px;
  float: left; }

.ab3 {
  background: #009f90;
  color: #fff; }
  .ab3 .pw {
    background-position: left bottom;
    background-repeat: no-repeat; }
  .ab3 .pic {
    width: 715px;
    height: 485px;
    margin-left: 70px;
    float: right; }
  .ab3 .txts {
    padding: 75px 0 0 70px;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.5; }

.ab4 {
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat; }
  .ab4 .pw > .freeTx {
    padding-top: 100px; }

.idea-box {
  float: left;
  width: 486px;
  margin-right: 40px;
  background: #e5e5e5; }
  .idea-box .idea-ti {
    background: #009f90;
    padding: 30px 5%;
    color: #fff; }

.idea-list {
  padding: 100px 45px; }
  .idea-list li {
    overflow: hidden; }
    .idea-list li + li {
      margin-top: 40px; }
  .idea-list .ico {
    width: 55px;
    height: 35px;
    background-position: left top;
    float: left; }
  .idea-list .txts {
    overflow: hidden; }
  .idea-list .ti {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px; }

.idea-ti {
  font-size: 20px; }
  .idea-ti .en {
    margin-top: 2px; }

.pro-box {
  overflow: hidden; }

.proL {
  float: left;
  width: 220px;
  min-height: 10px;
  margin-right: 85px; }
  .proL .pnav {
    display: none; }

.proR {
  overflow: hidden;
  min-height: 1000px; }

.pro-nav {
  width: 220px; }
  .pro-nav.fix {
    position: fixed;
    z-index: 299;
    left: 50%;
    top: 140px;
    margin-left: -600px;
    box-sizing: border-box;
    padding-bottom: 140px;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
    .pro-nav.fix::-webkit-scrollbar {
      width: 6px;
      background: #ccc; }
    .pro-nav.fix::-webkit-scrollbar-thumb {
      background: #009f90; }
  .pro-nav a {
    display: block;
    line-height: 1.4; }
  .pro-nav li {
    background: #fff; }
    .pro-nav li + li {
      margin-top: 3px; }
  .pro-nav li > a {
    position: relative;
    background: #009f90;
    padding: 11px 0 11px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; }
    .pro-nav li > a .sj {
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      right: 15px;
      border-left-width: 5px;
      border-right-width: 5px;
      border-top-width: 6px; }
  .pro-nav .one {
    display: none;
    padding: 15px 0;
    background: #e5e5e5; }
    .pro-nav .one > a {
      padding: 12px 0 12px 20px;
      color: #333; }
      .pro-nav .one > a.act {
        background: #ccc;
        color: #333; }
  .pro-nav .two {
    padding: 10px 0 10px 30px;
    display: none; }
    .pro-nav .two > a {
      position: relative;
      border-left: 2px solid #999;
      padding: 7px 0 7px 20px;
      color: #999; }
      .pro-nav .two > a .sj {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -5px;
        border-top-width: 5px;
        border-bottom-width: 5px;
        border-left-width: 6px;
        transform: translateX(150%);
        opacity: 0;
        visibility: hidden;
        transition: 300ms; }

@media screen and (min-width: 1025px) {
  .pro-nav .one > a:hover {
    background: #ccc;
    color: #333; }
  .pro-nav .two > a:hover {
    color: #333; }
  .pro-nav .two > a:hover .sj {
    transform: none;
    opacity: 1;
    visibility: visible; } }

.pro-tx {
  background: #ececec; }
  .pro-tx .pic {
    width: 50%;
    float: left; }
  .pro-tx .txts {
    width: 50%;
    float: right;
    padding: 25px 30px 0 30px;
    box-sizing: border-box; }
  .pro-tx .pro-ti {
    margin-bottom: 40px; }

.pro-ti {
  position: relative;
  padding-bottom: 15px;
  color: #009f90;
  font-size: 20px; }
  .pro-ti:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #009f90;
    width: 40px;
    height: 3px; }

.pro-sti {
  position: relative;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #333; }
  .pro-sti:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc; }
  .pro-sti > p {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    background: #fff;
    padding-right: 20px; }
  .pro-sti .en {
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    text-transform: uppercase;
    color: #ccc;
    font-weight: normal;
    line-height: 24px; }

.pro-x {
  padding-top: 70px; }
  .pro-x.tp {
    padding-top: 0; }
  .pro-x .pro-ti,
  .pro-x .pro-sti {
    margin-bottom: 40px; }
  .pro-x .adv {
    background: #e5e5e5;
    padding: 10px 20px;
    font-size: 16px;
    color: #333; }
    .pro-x .adv + .adv {
      margin-top: 5px; }
  .pro-x .advx {
    padding: 15px 20px 30px 20px; }
    .pro-x .advx:last-child {
      padding-bottom: 0; }

.auxi-tp {
  background: #009f90;
  padding: 70px 0 100px 0;
  color: #fff; }
  .auxi-tp a {
    color: #fff; }
  .auxi-tp .auxi-nav {
    margin-top: 110px; }

.auxi-ti .ch {
  position: relative;
  font-size: 24px; }
  .auxi-ti .ch span {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    padding: 0 25px;
    background: #009f90; }
  .auxi-ti .ch:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px solid #fff; }

.auxi-ti .en {
  margin-top: 10px; }

.auxi-nav {
  padding: 0 50px;
  margin-left: -50px; }
  .auxi-nav li {
    width: 25%;
    float: left; }
  .auxi-nav a {
    display: block;
    margin-left: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    line-height: 38px; }

@media screen and (min-width: 1025px) {
  .auxi-nav a:hover {
    background: #fff;
    color: #009f90; } }

.auxi-sti p:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2px;
  width: 5px;
  height: 5px;
  background: #ccc; }

.au1 .freeTx .pic {
  float: right;
  width: 59%;
  margin-left: 40px; }

.aux {
  padding-top: 70px; }
  .aux .auxi-sti {
    margin-bottom: 40px; }
  .aux .auxi-stx {
    margin-top: 50px; }
  .aux .auxii-list {
    margin-top: 30px; }

.auxi-stx {
  background: #e5e5e5;
  padding: 25px 5%;
  line-height: 1.4;
  text-align: center;
  font-size: 24px;
  color: #333; }

.auxii-list {
  margin-left: -20px; }
  .auxii-list li {
    width: 50%;
    float: left; }
  .auxii-list .ma {
    margin-left: 20px; }
  .auxii-list .ti {
    text-align: center;
    margin-top: 20px; }
  .auxii-list .item1 {
    clear: both; }

.process-list {
  margin-left: -25px; }
  .process-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 25px; }
  .process-list .freeTx {
    margin-left: 25px;
    background: #ececec;
    padding: 25px 20px 0 20px;
    height: 100px;
    font-size: 16px;
    box-sizing: border-box; }
  .process-list .sj {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 16px;
    color: #fff; }

.charac-list {
  border-left: 1px solid #ccc;
  margin-bottom: 20px;
  position: relative;
  color: #999; }
  .charac-list .item {
    width: 20%;
    float: left;
    padding: 0 20px;
    box-sizing: border-box; }
    .charac-list .item:nth-child(2n) .ti {
      background: #ececec;
      color: #333; }
  .charac-list .ti {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 0 auto 12px auto;
    padding-top: 35px;
    background: #009f90;
    text-align: center;
    line-height: 1.25;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    box-sizing: border-box; }
  .charac-list .lin {
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    border-left: 1px solid #ccc;
    display: block; }
  .charac-list .lin1 {
    left: 20%; }
  .charac-list .lin2 {
    left: 40%; }
  .charac-list .lin3 {
    left: 60%; }
  .charac-list .lin4 {
    left: 80%; }
  .charac-list .lin5 {
    left: 100%;
    margin-left: -1px; }
