@charset "utf-8";
//主颜色
$mc1: #009f90;
$mc11: rgba(0,159,144,.8);
$mc2: #044f9f;
$mc3: #dbf2f0;
$mc4: #ef0000;
$mc5: #8cc856;
$mc6: #00479d;
$mc7: #1ca3d3;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f2f2f2; // 95
$hc4: #747474; // 45
$hc5: #ececec; // 93
